<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->
  <connectionStrings>
    <add name="cs" connectionString="server=192.168.0.7;user id=devc100;password=45683968;persistsecurityinfo=True;database=employment" providerName="MySql.Data.MySqlClient" />
    <add name="employmentEntities" connectionString="metadata=res://*/Models.mysql_data_model.csdl|res://*/Models.mysql_data_model.ssdl|res://*/Models.mysql_data_model.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=192.168.0.7;user id=devc100;password=45683968;persistsecurityinfo=True;database=employment&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

</configuration>